<div id="practice_right_user">
  <div id="practice_right_user_chart">
    <img src="https://www.pref.saitama.lg.jp/a0206/kodomo/images/graph03_oresen01rei.png">
    <% unless user_signed_in? %>
      <div id="practice_right_user_chart_sign">
        <div>
          <p><i class="fas fa-user-lock"></i></p>
          <p>
            <span id="practice_right_user_chart_sign_in">ログイン</span>
            &nbsp;/&nbsp;
            <span id="practice_right_user_chart_sign_up">新規登録</span>
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <div id="practice_right_user_button">
    <span class="uk-button uk-button-default uk-width-1-1">学習成績</span>
    <% if user_signed_in? %>
      <span class="uk-button uk-button-default uk-width-1-1"><i class="far fa-dot-circle current_login"></i>ユーザー情報</span>
      <%= link_to("ログアウト", destroy_user_session_path, method: :delete, class:"uk-button uk-button-default uk-width-1-1") %>
    <% else %>
      <span class="uk-button uk-button-default uk-width-1-1"><i class="far fa-dot-circle no_login"></i>ユーザー情報</span>
    <% end %>
  </div>
</div>
<div id="practice_right_dictionary">
  <h2 id="practice_right_dictionary_title">辞書</h2>
  <div id="practice_right_dictionary_input">
    <input type="text" placeholder="日本語" alt="japanese">
  </div>
  <p id="practice_right_dictionary_icon"><i class="fas fa-angle-double-down"></i></p>
  <div id="practice_right_dictionary_output">
    <input type="text" placeholder="タイ語" alt="thai" disabled>
  </div>
  <div id="practice_right_dictionary_candidate">
    <table class="uk-table uk-table-hover uk-table-divider">
      <tbody></tbody>
    </table>
  </div>
  <div id="practice_right_dictionary_listen" title="音声再生">
    <i class="fas fa-headphones-alt"></i>
  </div>
  <div id="practice_right_dictionary_change" title="言語入替">
    <i class="fas fa-exchange-alt"></i>
  </div>
</div>

<div id="practice_right_grade">
  <h2 id="practice_right_grade_title">試験級</h2>
  <div id="practice_right_grade_list">
    <a href="#">5級</a>
    <a href="#">４級</a>
    <a href="#">３級</a>
    <a href="#">準２級</a>
    <a href="#">２級</a>
    <a href="#">１級</a>
  </div>
</div>

<div id="practice_right_exam">
  <h2 id="practice_right_exam_title">試験年度</h2>
  <div id="practice_right_exam_list">
    <a href="#">2020年 春季</a>
    <a href="#">2019年 秋季</a>
    <a href="#">2019年 春季</a>
    <a href="#">2018年 秋季</a>
    <a href="#">2018年 春季</a>
    <a href="#">2017年 秋季</a>
    <a href="#">2017年 春季</a>
    <a href="#">2016年 秋季</a>
    <a href="#">2016年 春季</a>
    <a href="#">2015年 秋季</a>
    <a href="#">2015年 春季</a>
  </div>
</div>