<%= render partial: "common/header", locals: {current_menu:"practice"} %>
<div id="contents">
  <div id="practice">
    <div id="practice_left">
      <div id="practice_left_status">
        <h4 id="practice_left_status_main">１０問中８問正解(80.0%)</i></h4>
        <h4 id="practice_left_status_back"><i class="fas fa-arrow-circle-left"></i><b>&nbsp;戻る</b></h4>
        <h4 id="practice_left_status_skip"><b>スキップ&nbsp;</b><i class="fas fa-forward"></i></h4>
        <p id="practice_left_status_continuous">
          <i class="fas fa-level-up-alt"></i><b>８問連続正解</b><i class="fas fa-level-up-alt"></i>
        </p>
      </div>
      <div id="practice_left_question">
        <h5 id="practice_left_question_detail"><a href="#">2020年秋季&nbsp;問題１</a>&nbsp;&nbsp;♦︎穴埋め問題</h5>
        <p id="practice_left_question_description">次の（ ）内に入れるのに最も適当な語を選びその番号をマークしなさい。</p>
        <p id="practice_left_question_sentence">(    )点以上が合格になります。(    )点以上が合格になります。(    )点以上が合格になります。(    )点以上が合格になります。</p>
        <p id="practice_left_question_sentence">(    )点以上が合格になります。</p>
      </div>
      <div id="practice_left_answer">
        <div id="practice_left_answer_choice">
          <li><span><a href="#">１</a></span>&nbsp;<span>aaa</span></li>
          <li><span><a href="#">２</a></span>&nbsp;<span>bbb</span></li>
          <li><span><a href="#">３</a></span>&nbsp;<span>ccc</span></li>
          <li><span><a href="#">４</a></span>&nbsp;<span>ddd</span></li>
          <li><span><a href="#">５</a></span>&nbsp;<span>分からない</span></li>
        </div>
        <div id="practice_left_answer_input">
          <li>
            <span><a href="#">解答</a></span>&nbsp;
            <span><input type="text"></span>&nbsp;
            <span id="keybord_open" title="キーボードを開く"><i class="fas fa-keyboard"></i></span>
          </li>
          <div id="practice_left_answer_input_keybord">
            <p>
              <span>ๅ</span>
              <span>/</span> 
              <span>_</span> 
              <span>ภ</span> 
              <span>ถ</span> 
              <span>ุ</span> 
              <span>ึ</span> 
              <span>ค</span> 
              <span>ต</span> 
              <span>จ</span> 
              <span>ข</span> 
              <span>ช</span>
            </p>
            <p>
              <span>ๆ</span> 
              <span>ไ</span> 
              <span>ำ</span> 
              <span>พ</span> 
              <span>ะ</span> 
              <span>้ั</span> 
              <span>่ี</span> 
              <span>ร</span> 
              <span>น</span> 
              <span>ย</span> 
              <span>บ</span> 
              <span>ล</span>
            </p>
            <p>
              <span>ฟ</span> 
              <span>ห</span> 
              <span>ก</span> 
              <span>ด</span> 
              <span>เ</span> 
              <span>้้</span> 
              <span>่่</span> 
              <span>า</span> 
              <span>ส</span> 
              <span>ว</span> 
              <span>ง</span> 
              <span>ฃ</span>
            </p>
            <p> 
              <span>ผ</span> 
              <span>ป</span> 
              <span>แ</span> 
              <span>อ</span> 
              <span>ิ</span> 
              <span>ื</span> 
              <span>ท</span> 
              <span>ม</span> 
              <span>ใ</span> 
              <span>ฝ</span>
              <span id="practice_left_answer_input_keybord_delete"><i class="fas fa-backspace"></i></span>
            </p>
          </div>
        </div>
        <div id="practice_left_answer_result"></div>
      </div>
      <div id="practice_left_commentary">
        <h3>解答解説</h3>
        <p>ここには解答の解説内容が入ります。例えば、タイ語での穴埋め問題の場合はわかりません。何行になるかはわかり兼ねますので、多めに取っておくのでが良いでしょう！！</p>
        <ul>
          <li id="practice_left_commentary_correct">
            <p>選択肢１：aaa</p>
            <p>aaaは実は、aが３つあるので解答に不向きであります。その為、aaaは回答ではありません</p>
          </li>
          <li>
            <p>選択肢２：bbb</p>
            <p>aaaは実は、aが３つあるので解答に不向きであります。その為、aaaは回答ではありません</p>
          </li>
          <li>
            <p>選択肢３：ccc</p>
            <p>aaaは実は、aが３つあるので解答に不向きであります。その為、aaaは回答ではありません</p>
          </li>
          <li>
            <p>選択肢４：ddd</p>
            <p>aaaは実は、aが３つあるので解答に不向きであります。その為、aaaは回答ではありません</p>
          </li>
        </ul>
      </div>
      <div id="practice_left_next">
        <li>
          <div class="button">
            <p class="btnText">保存して終了</p>
            <div class="btnTwo">
              <p class="btnText2">FINISH!</p>
            </div>
          </div>
        </li>
        <li>
          <div class="button">
            <p class="btnText">次の問題へ</p>
            <div class="btnTwo">
              <p class="btnText2">NEXT!</p>
            </div>
          </div>
        </li>
      </div>
      <div id="practice_left_advertisement">
        <h1>広告の欄となります</h1>
        <h1>広告の欄となります</h1>
        <h1>広告の欄となります</h1>
        <h1>広告の欄となります</h1>
      </div>

    </div>
    <div id="practice_right">
      <%= render partial: "sidebar" %>
    </div>
  </div>
</div>
<%= render partial: "common/footer" %>