<%= render partial: "common/header", locals: {current_menu:"dictionary"}  %>
<div id="contents">
  <div id="contents_dictionary">
    <div id="contents_dictionary_tabs">
      <div id="contents_dictionary_tabs_header">
        <span id="tab_plus"><i class="far fa-plus-square"></i></span>
      </div>
      <div id="contents_dictionary_tabs_main">
      </div>
      <div id="contents_dictionary_tabs_navigation">
        <span class='next'><i class="fas fa-caret-square-right"></i></span>
        <span class='prev'><i class="fas fa-caret-square-left"></i></span>
      </div>
    </div>
  </div>
</div>
<%= render partial: "common/footer" %>