#contents_dictionary{
  width:85%;
  background-color: white;
  margin: 0 auto;
  overflow: auto;
  padding: 10px;
  &_tabs{
    width:100%;
    background:#eee;
    overflow:hidden;
    position:relative;
    &:hover &_navigation{opacity:1;}
    &_header{
      display:flex;
      width:100%;
      border-bottom:2px solid #666;
      overflow-y: scroll;
      span{
        display:block;
        float:left;
        cursor:pointer;
        color:#666;
        font:400 15px 'pt sans',sans-serif;
        background:#ddd;
        padding:0 15px;
        line-height:40px !important;
      }
      span.active{
        background:#666;
        color:#ddd;
        position:relative;
        box-shadow:0 0 10px rgba(0,0,0,0.5);
      }
    }
    &_main{
      position:relative;
      margin: 15px 40px;
      height: 470px;
      div[id^=content]{
        position: absolute;
        color:#666;
        width: 100%;
        height: 100%;
        .left{
          width: 65%;
          float: left;
          &_input, &_output{
            &_select{
              margin:0 0 5px;
              overflow: auto;
              &_button{
                float: right;
                margin-left: 10px;
                cursor: pointer;
              }
            }
          }
          &_output textarea:disabled {
            color: inherit ;
            cursor: not-allowed;
          }
          &_icon{
            @include center();
            span{transform:rotate(-90deg); }
          }
        }
        .right{
          width: 33%;
          height: 100%;
          float: left;
          margin-left: 1%;
          &_header{
            background-color: #b7e6f3;
            table{margin-bottom: 0;}
          }
          &_main{
            background-color: #e3eff3;
            width: 100%;
            height: calc(100% - 40px);
            overflow: scroll;
            .uk-icon-button{
              cursor: pointer;
            }
          }
        }
      }
    }
    &_navigation{
      opacity:0;
      transition:all .3s linear;
      -moz-transition:all .3s linear;
      -webkit-transition:all .3s linear;
      span{
        position:absolute;
        top:50%;
        cursor:pointer;
        display:block;
        height:35px;
        width:35px;
        i{font-size: xx-large;}
      }
      span.next{right:10px;}
      span.prev{left:10px;}
    }
  }
}